services:
  postgres:
    image: postgres
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  django:
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    networks:
      - default

  vue_cli:
    image: ebiven/vue-cli
    init: True
    working_dir: /code
    command: >
      /bin/sh -c "yarn"
    volumes:
      - ./frontend:/code
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=development
    networks:
      - default
